body {
  background-image: url("background-image.png");
  background-color: $body_bg;
  color:            $body_color;
  font-family:      $body_font;
  font-size:        $body_font-size;
}

.full {
  width:        100%;
  margin-left:  auto;
  margin-right: auto;
  max-width:    initial;
}

