

 .article_updated-on {
  color:      $article_updated-color;
  font-size:  $article_updated-font-size;
  font-style: $article_updated-font-style;
  margin:     $article_updated-spacing;
}




.article {
  @include flex-grid-row();

  .article_side-nav-col {
    @include breakpoint(small only) {
      @include flex-grid-order(1);
    }

    @include breakpoint(medium up) {
      @include flex-grid-column(3);
      @include flex-grid-order(1);
    } 
  }

  .article_content-col {
    border:           1px solid $secondary;
    border-radius:    $border-radius;
    background-color: $primary;

    @include breakpoint(small only) {
      @include flex-grid-order(3);
    }
    @include breakpoint(medium up) {
      @include flex-grid-column(6);
      @include flex-grid-order(2);
    }
  }

  .article_toc-col {
    @include breakpoint(small only) {
      @include flex-grid-order(2);
    }

    @include breakpoint(medium up) {
      @include flex-grid-column(3);
      @include flex-grid-order(3);
    }
  }

  &.full {
    .article_side-nav-col {
      @include flex-grid-column(2);
    }
    .article_content-col {
      @include flex-grid-column(8, 64);
    }
    .article_toc-col {
      @include flex-grid-column(2);
    }

  }
}