.toc {
  position: sticky;
  position: -webkit-sticky;
  top:      -1px;

  .toc_header {
    color:          $toc_header-color;
    font-weight:    $toc_header-weight;
    font-size:      $toc_header-size;
    letter-spacing: $toc_header-letter-spacing;
    text-transform: $toc_header-text-transform;
  }

  .toc_list {
    width:           100%;
    overflow-y:      $toc_list-overflowy;
    height:          $toc_list-height;

    @include breakpoint(small only) {
      height: auto;
    }
    
    a.toc_list-item::before {content: $toc_list-link-before-content;}
    a.toc_list-item {

      padding:          $toc_list-link-padding;
      background-color: $toc_list-link-bg;
      border-radius:    $toc_list-link-radius;
      color:            $toc_list-link-color;
      font-weight:      $toc_list-link-weight;    
      line-height:      $toc_list-link-line-height;
      font-size:        $toc_list-link-size;
      border-bottom:    $toc_list-link-border-bottom;
      display: block;

      transition-property:  background-color;
      transition-duration: $toc_list-link-transition-duration;

      &:hover {
        color:            $toc_list-link-color-hover;
        background-color: $toc_list-link-bg-hover;
        border-bottom:    $toc_list-link-border-bottom-hover;
        text-decoration:  underline;
      }

      &.active {
        background-color: $toc_list-link-bg-active;
        color:            $toc_list-link-color-active;
        border-bottom:    $toc_list-link-border-bottom-active;

        &:hover{ 
          background-color: $toc_list-link-bg-active-hover;
          color:            $toc_list-link-color-active-hover;
          border-bottom:    $toc_list-link-border-bottom-active-hover;
        }
      }

      &.h1 {margin-left: 0;}
      &.h2 {margin-left: $toc_list-link-indent-base;}
      &.h3 {margin-left: $toc_list-link-indent-base*2;}
      &.h4 {margin-left: $toc_list-link-indent-base*3;}
      &.h5 {margin-left: $toc_list-link-indent-base*4;}
      &.h6 {margin-left: $toc_list-link-indent-base*5;}
    }
  }
}
